@use 'base/variables' as v;
@use 'base/mixins' as m;

.paginacion {
    padding: v.$separacion 0;

    @include m.telefono {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    button {
        margin: 0 0 1rem 1;
    }
}

.ocultar {
    visibility: hidden;
}